/*intestazione pagina*/
#page-header{
    background-color: #4EA1FF;
    height: 120px;
    background-image: url("../img/pattern.png");
    background-size: 27%;
}

h1 {
    font-size: 35px;
}

/*titolo sezione Potrebbero interessarti */
h3 {
    color: gray;
}

/*logo booleaner*/
#logo-booleaner{
    height: 40%;
    margin-top: 55px;
}
/*testo evidenziato*/
.highlight{
    background-color: yellow;
}

/*head della tabella */
#tab-head {
    background-color: #23A8E4;
    color: white;
}

/*sfondo azzurro celle tabella */
.light-blue-back{
    background-color: #B1E6F2;
}

/*immagine monitor con testo*/
#potrebbe1{
    background-image: url(../img/monitor.jpg);
    height: 200px;
    background-repeat: no-repeat;
}

/*immagine grafico con testo*/
#potrebbe2{
    background-image: url(../img/graph.jpg);
    height: 200px;
    background-repeat: no-repeat;
}

/*testo dentro immagini*/
.white-p {
    color: white;
} 